{#
    Use ad_tag.desktop, ad_tag.tablet and ad_tag.mobile to access the different tags
#}
<div id="{{ html_id }}" class="ad-container"><script src="http://cdn-tags.orbyd.com/{{ ad_tag.desktop }}" type="text/javascript"></script></div>